/* ALL LAYER01 CONTENT */

@font-face {
	font-family: LiberationSans-Bold;
	src: url(./LiberationSans-Bold.ttf);
}

html {
	font-family: LiberationSans-Bold, Arial, sans-serif;
	scroll-padding-top: 57px;
}

body {
	background-color: #000;
	color: #FFF;
	margin: 0;
	text-align: center;
}

#main {
	padding: 50px 0;
	margin: 0 20px;
}

h1 {
	font-size: 64px;
}

h1 span {
	text-shadow: -10px 5px #003;
}

h1 span:hover {
	background-color: #FFF;
	color: #000;
	text-shadow: 14px 3px #000;
}

h4 {
	font-weight: normal;
}

a {
	color: inherit;
}

table {
	border-collapse: collapse;
}

form {
	display: inline-grid;
}

label:first-of-type {
	margin-top: 20px;
}

input[type=text] {
	padding: 5px 10px;
}

#submit, button {
	font-family: LiberationSans-Bold, Arial, sans-serif;
	width: fit-content;
	border: 1px solid #FFF;
	background-color: #000;
	color: #FFF;
	cursor: pointer;
}

#submit {
	margin: 30px auto;
	padding: 20px;
	font-size: 30px;
}

button {
	margin: 15px auto;
	padding: 10px;
	font-size: 15px;
	min-width: 20vw;
}

#submit:hover, button:hover {
	background-color: #FFF;
	color: #000;
}

#message {
	font-size: 24px;
	background-color: #FFF;
	color: #000;
	padding: 10px;
	margin: 20px auto;
	width: fit-content;
}

.NM {
	color: #88bff0;
}

.HD {
	color: #eedaa1;
}

.HR {
	color: #f79595;
}

.DT {
	color: #ac92e6;
}

.EZ {
	color: #a4d293;
}

/* MENU */

#menu {
	position: fixed;
	width: 100vw;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	border-bottom: 1px solid #FFF;
	z-index: 3;
}

#menu > li {
	float: left;
}

.menu-button {
	display: inline-block;
	color: #FFF;
	text-align: center;
	padding: 10px 30px;
	text-decoration: none;
}

.logo {
	padding: 6px 30px;
	font-size: 22px;
	font-weight: bold;
}

@media screen and (min-width: 1080px) {
	.logo {
		border-right: 1px solid #FFF;
	}
}

#menu li a:hover {
	background-color: #FFF;
	color: #000;
}

.right {
	float: right;
}

@media screen and (max-width: 600px) {
	#menu {
		position: static;
		width: 100%;
	}

	#main {
		padding: 0 0 20px 0;
	}

	h1 { /* long text do be like that */
		font-size: 10vw;
	}
}
